@use '../forgot-password/forgot-password.component.scss';

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  display: grid;
  gap: 0.6rem;
  min-width: 0;
}

.error {
  color: var(--danger-700);
}
